<h1>Hi!!!</h1>

<h2>Tacos:</h2>

<p>Taco Menu:</p>

<% tacos = ["Carnitas", "Fish", "Steak"] %>

There are so many tacos <%= tacos.length %>

<ul>
  <li>carnitas</li>
  <li>steak</li>
  <li>shrimp</li>
</ul>